[submodule "Core/external/GoogleTest"]
	path = Core/external/GoogleTest
	url = https://github.com/google/googletest
[submodule "Core/external/stb"]
	path = Core/external/stb
	url = https://github.com/nothings/stb
[submodule "Core/external/ufbx"]
	path = Core/external/ufbx
	url = https://github.com/ufbx/ufbx
[submodule "Core/external/VulkanHeaders"]
	path = Core/external/VulkanHeaders
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "Core/external/VulkanLoader"]
	path = Core/external/VulkanLoader
	url = https://github.com/KhronosGroup/Vulkan-Loader
